{% extends 'blog_app/base.html' %}

{% block title %} Nosotros {% endblock %}

{% block content %}
<main class="main">
    <section class="">
    <div class="container">
    <h2 class="main__title">Sobre nosotros</h2>
    <p class="main__txt">
        Con gran ambición de superarnos en el ámbito laboral, nos propusimos iniciar esta travesía
        en la informática. Para eso creamos este proyecto con el lenguage de programación Python
        utilizando su Framework Django, el cual nos ayuda a crear una aplicación web de un blog y mucho mas.
    </p>
    <p>
        Somos 3 estudiantes con ganas de crecer cada día mas en el área tecnológica, en nuestro caso
        la programación. Agradecemos a CoderHouse, su profesor y tutores por el apoyo y guía durante estos meses.
    </p>
    </div>
    </section>
{% endblock content %}